<!DOCTYPE html>
<html lang="en" dir="">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fargo | MIS</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="/static/dist-assets/css/themes/lite-purple.css" rel="stylesheet" />
    <link href="/static/dist-assets/css/plugins/perfect-scrollbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/dist-assets/css/plugins/fontawesome-5.css" />
    <link href="/static/dist-assets/css/plugins/metisMenu.min.css" rel="stylesheet" />
    {% block stylesheets %} {% endblock stylesheets %}
</head>

<body class="text-left">
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <div class="app-admin-wrap layout-sidebar-vertical sidebar-full">
        <div class="sidebar-panel">
            <div class="gull-brand pr-3 text-center mt-4 mb-2 d-flex justify-content-center align-items-center"><img class="pl-3" src="/static/dist-assets/images/logo.png" alt="alt" />
                <!--  <span class=" item-name text-20 text-primary font-weight-700">GULL</span> -->
                <div class="sidebar-compact-switch ml-auto"><span></span></div>
            </div>
            <!--  user -->
            <div class="scroll-nav ps ps--active-y" data-perfect-scrollbar="data-perfect-scrollbar" data-suppress-scroll-x="true">
                <div class="side-nav">
                    <div class="main-menu">
                        <ul class="metismenu" id="menu">
                            <li class="Ul_li--hover"><a href="{% url 'dashboard' %}"><i class="i-Bar-Chart text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">Dashboard</span></a></li>
                            <li class="Ul_li--hover"><a href="{% url 'parcels' %}"><i class="i-Checkout text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">Parcels</span></a></li>
                            <li class="Ul_li--hover"><a href="{% url 'shipments' %}"><i class="i-Plane text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">Shipments</span></a></li>
                            <li class="Ul_li--hover"><a href="{% url 'users' %}"><i class="i-Male text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">System Users</span></a></li>
                            <li class="Ul_li--hover"><a href="{% url 'roles' %}"><i class="i-Unlock text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">User Roles</span></a></li>
                            <li class="Ul_li--hover"><a href="{% url 'user_activities' %}"><i class="i-Firewall text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">System Activities</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div>
                </div>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div>
                </div>
            </div>
            <!--  side-nav-close -->
        </div>
        <div class="switch-overlay"></div>
        <div class="main-content-wrap mobile-menu-content bg-off-white m-0">
            <header class="main-header bg-white d-flex justify-content-between p-2">
                <div class="header-toggle">
                    <div class="menu-toggle mobile-menu-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div><a type="button" class="i-Add-Cart mr-3 text-20 cursor-pointer" data-toggle="modal" data-target="#addParcelModal"></a>
                </div>
                <div class="header-part-right">
                    <!-- Full screen toggle--><i class="i-Full-Screen header-icon d-none d-sm-inline-block" data-fullscreen=""></i>
                    <!-- Grid menu Dropdown-->
                    <div class="dropdown dropleft"><i class="i-Checked-User text-muted header-icon" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="menu-icon-grid">
                                <a href="/accounts/logout"><i class="i-Checked-User"></i> Logout</a>
                                <a href="/change_password"><i class="i-Password"></i> Change Password</a></div>
                        </div>
                    </div>
                </div>
            </header><!-- ============ Body content start ============= -->
            <div class="main-content pt-4">
                <div class="separator-breadcrumb border-top"></div>
                <!-- content goes here-->
                {% block content %}
            
                {% endblock content %}
                <!-- end of main-content -->
            </div>
            <!-- Footer Start -->
            <div class="flex-grow-1"></div>
            <div class="app-footer">
                <div class="footer-bottom d-flex flex-column flex-sm-row align-items-center">
                    <span class="flex-grow-1"></span>
                    <div class="d-flex align-items-center">
                        <img class="logo" src="/static/dist-assets/images/logo.png" alt="">
                        <div>
                            <p class="m-0">&copy; <script>document.write(new Date().getFullYear()); </script> Fargo</p>
                            <p class="m-0">All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fotter end -->
        </div>
    </div>



    <!--  Modal -->
    <div class="modal fade" id="addParcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle-2">Add new Parcel</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <form method="post" action="{% url 'create_parcel' %}">
                    <div class="modal-body">
                        {%csrf_token%}
                        <div class="form-group">
                            <label class="col-form-label" for="recipient-name-2">Tracking No:</label>
                            <input class="form-control" name="tracking_no" id="id_tracking_no" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="message-text-1">Owner Name:</label>
                            <input class="form-control" name="owner" id="id_owner" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="message-text-1">Owner Mobile:</label>
                            <input class="form-control" name="owner_mobile" id="id_owner_mobile" type="number" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="message-text-1">Parcel Weight (Kg):</label>
                            <input class="form-control" name="weight" id="id_weight" type="number" placeholder="0.00 Kg" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="message-text-1">Date Received (China WH):</label>
                            <input class="form-control" name="received_on" id="id_received_on" type="date" required/>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary ml-2" >Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="/static/dist-assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="/static/dist-assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/dist-assets/js/scripts/tooltip.script.min.js"></script>
    <script src="/static/dist-assets/js/scripts/script.min.js"></script>
    <script src="/static/dist-assets/js/scripts/script_2.min.js"></script>
    <script src="/static/dist-assets/js/scripts/sidebar.large.script.min.js"></script>
    <script src="/static/dist-assets/js/plugins/feather.min.js"></script>
    <script src="/static/dist-assets/js/plugins/metisMenu.min.js"></script>
    <script src="/static/dist-assets/js/scripts/layout-sidebar-vertical.min.js"></script>
    {% block javascripts %} 
    
    {% endblock javascripts %}
</body>


<!-- Mirrored from demos.ui-lib.com/gull/html/layout4/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Aug 2022 13:27:22 GMT -->
</html>