{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="row mb-4">
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="ul-widget__content-v4 card-icon-bg"><i class="i-Shopping-Cart text-warning"></i>
                <h3 class="t-font-boldest">{{pending_parcels}}</h3><span>Parcel Pending</span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="ul-widget__content-v4 card-icon-bg"><i class="i-Full-Cart text-primary"></i>
                <h3 class="t-font-boldest">{{packed_parcels}}</h3><span>Parcel Packed</span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="ul-widget__content-v4 card-icon-bg"><i class="i-Cash-Register text-info"></i>
                <h3 class="t-font-boldest">{{shipped_parcels}}</h3><span>Parcels Intransit</span>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <div class="ul-widget__content-v4 card-icon-bg"><i class="i-Checkout text-success"></i>
                <h3 class="t-font-boldest">{{delivered_parcels}}</h3><span>Parcels Delivered</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4 col-md-4">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Shop-2"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Shipments Pending</p>
                        <p class="text-primary text-24 line-height-1 mb-2 text-center">{{packed_shipments}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Plane-2"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Shipments Intransit</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{intransit_shipments}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Suitcase"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Shipments Delivered</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{delivered_shipments}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- end of main-content -->

{% endblock content %}