{% extends "base.html" %}

{% block title %} Add User {% endblock title %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block sidemenu %}
<ul class="nk-menu">
    <li class="nk-menu-heading">
        <h6 class="overline-title text-primary-alt">Basic Links</h6>
    </li><!-- .nk-menu-heading -->
    <li class="nk-menu-item">
        <a href="{% url 'classes' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-grid-plus"></em></span>
            <span class="nk-menu-text">Classes</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'streams' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-grid-plus-fill"></em></span>
            <span class="nk-menu-text">Streams</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'sessions' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-db-fill"></em></span>
            <span class="nk-menu-text">Sessions (Year)</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'terms' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-db"></em></span>
            <span class="nk-menu-text">Terms</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
      <a href="{% url 'promotion' %}" class="nk-menu-link">
          <span class="nk-menu-icon"><em class="icon ni ni-trend-up"></em></span>
          <span class="nk-menu-text">Promotion</span>
      </a>
  </li><!-- .nk-menu-item -->
  <li class="nk-menu-item">
    <a href="{% url 'sms_list' %}" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon ni ni-chat"></em></span>
        <span class="nk-menu-text">SMS</span>
    </a>
</li><!-- .nk-menu-item -->
    <li class="nk-menu-heading">
        <h6 class="overline-title text-primary-alt">Admin Setup</h6>
    </li><!-- .nk-menu-heading -->
    <li class="nk-menu-item">
        <a href="{% url 'users' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-user-circle-fill"></em></span>
            <span class="nk-menu-text">Users</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'roles' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-shield-check-fill"></em></span>
            <span class="nk-menu-text">User Roles</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'user_activities' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span>
            <span class="nk-menu-text">User Activities</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'configs' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-setting-fill"></em></span>
            <span class="nk-menu-text">Settings</span>
        </a>
    </li><!-- .nk-menu-item -->
    
</ul><!-- .nk-menu -->

{% endblock sidemenu %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for msg in messages %}
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="nk-block-head">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">{% if title %}{{title}}{% else %} Add User {% endif %}</h3>
            <div class="nk-block-des text-soft">
                <p>Change my password.</p>
            </div>
        </div>
    </div>
</div>
<div class="card card-preview">
    <div class="card-inner">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <br />
            <div class="ln_solid"></div>
            <button type="submit" class="btn btn-success">Change</button>
            <br />&nbsp;<br />
        </form>
    </div>
</div>

 {% endblock content %}

{% block javascripts %}
  {{ block.super }}

{% endblock javascripts %}
