{% extends 'base.html' %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="/static/dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="/static/dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/dist-assets/css/plugins/datatables.min.css" />
{% endblock stylesheets %}

{% block content %}

<div class="main-content">
    <div class="row mb-4">
        <div class="col-md-6">
            <h4>Change Password</h4>
        </div>
    </div>
    <!-- end of row-->
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.old_password.label_tag }}<br>
                        {{ form.old_password|add_class:"form-control" }}<br>
                        
                        {{ form.new_password1.label_tag }}<br>
                        {{ form.new_password1|add_class:"form-control" }}<br>
                        {{ form.new_password1.errors }}

                        <small>{{ form.new_password1.help_text }}</small><br>
                        
                        {{ form.new_password2.label_tag }}<br>
                        {{ form.new_password2|add_class:"form-control" }}<br>
                        {{ form.new_password2.errors }}
                        
                        <br />
                        <div class="ln_solid"></div>
                        <button type="submit" class="btn btn-success">Change</button>
                        <br />&nbsp;<br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/dist-assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/static/dist-assets/js/scripts/script.min.js"></script>
<script src="/static/dist-assets/js/scripts/sidebar-horizontal.script.js"></script>
<script src="/static/dist-assets/js/plugins/datatables.min.js"></script>
<script src="/static/dist-assets/js/scripts/datatables.script.min.js"></script>
{% endblock javascripts %}