{% extends 'base.html' %}
{% block sidemenu %}
<ul class="nk-menu">
    <li class="nk-menu-heading">
        <h6 class="overline-title text-primary-alt">Basic Links</h6>
    </li><!-- .nk-menu-heading -->
    <li class="nk-menu-item">
        <a href="{% url 'employees' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-users-fill text-info"></em></span>
            <span class="nk-menu-text">Employees </span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'users' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-users text-info"></em></span>
            <span class="nk-menu-text">System Users </span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'roles' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-shield-check-fill text-secondary"></em></span>
            <span class="nk-menu-text">Roles </span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'user_activities' %}" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-activity-round text-warning"></em></span>
            <span class="nk-menu-text">User Activity </span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-heading">
        <h6 class="overline-title text-primary-alt">Quick Links</h6>
    </li><!-- .nk-menu-heading -->
    <li class="nk-menu-item">
        <a href="{% url 'users_filter' %}?is_active=True" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-user-check-fill text-success"></em></span>
            <span class="nk-menu-text">Active Employees</span>
        </a>
    </li><!-- .nk-menu-item -->
    <li class="nk-menu-item">
        <a href="{% url 'users_filter' %}?is_active=False" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-user-cross-fill text-danger"></em></span>
            <span class="nk-menu-text text-danger">Disabled Employees</span>
        </a>
    </li><!-- .nk-menu-item -->
    
</ul><!-- .nk-menu -->
{% endblock sidemenu %}


{% block content %}

<div class="nk-content-wrap">
    <div class="nk-block-head">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Employees </h3>
                <div class="nk-block-des text-soft">
                    <p>You have a total of {{employees.count}} Active Employees.</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li><a href="{% url 'export_employees' %}" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                            <li class="nk-block-tools-opt">
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="{% url 'add_user' %}"><span>Add Employee</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner position-relative card-tools-toggle">
                    <div class="card-title-group">
                        <div class="card-tools">
                            <div class="form-inline flex-nowrap gx-3">
                                <div class="form-wrap w-150px">
                                    <select class="form-select form-select-sm" data-search="off" data-placeholder="Bulk Action">
                                        <option value="">Bulk Action</option>
                                    </select>
                                </div>
                                <div class="btn-wrap">
                                    <span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light disabled">Apply</button></span>
                                    <span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-icon disabled"><em class="icon ni ni-arrow-right"></em></button></span>
                                </div>
                            </div><!-- .form-inline -->
                        </div><!-- .card-tools -->
                        <div class="card-tools mr-n1">
                            <ul class="btn-toolbar gx-1">
                                <li>
                                    <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                </li><!-- li -->
                                <li>
                                    <div class="toggle-wrap">
                                        <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                        
                                    </div><!-- .toggle-wrap -->
                                </li><!-- li -->
                            </ul><!-- .btn-toolbar -->
                        </div><!-- .card-tools -->
                    </div><!-- .card-title-group -->
                    <div class="card-search search-wrap" data-search="search">
                        <div class="card-body">
                            <div class="search-content">
                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                            </div>
                        </div>
                    </div><!-- .card-search -->
                </div><!-- .card-inner -->
                <div class="card-inner p-0">
                    <div class="nk-tb-list nk-tb-ulist">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col"><span class="sub-text">Full Name</span></div>
                            <div class="nk-tb-col"><span class="sub-text">Username</span></div>
                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Contacts</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Designation</span></div>
                            <div class="nk-tb-col tb-col-xl"><span class="sub-text">Status</span></div>
                            <div class="nk-tb-col nk-tb-col-tools text-right">Action</div>
                        </div><!-- .nk-tb-item -->
                        {% for e in employees %}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                    <label class="custom-control-label" for="uid1"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <a href="{% url 'user_profile' user.id %}">
                                    <div class="user-card">
                                        <div class="user-avatar bg-light">
                                            <em class="icon ni ni-user-circle-fill"></em>
                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">{{e.full_name}} <span class="dot dot-success d-md-none ml-1"></span></span>
                                            <span>{{e.added_on}}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-lead">{{e.user}} <span class="dot dot-success d-md-none ml-1"></span></span>
                                <span>Last Login: {{e.user.last_login|date:'M. d, Y'}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-lead">{{user.email}}<span class="dot dot-success d-md-none ml-1"></span></span>
                                <span>Mobile: {{e.primary_phone}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span>{{e.role}}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-status text-success">{{e.status}}</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-na"></em><span>Disable Employee</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                        {% endfor %}
                     </div><!-- .nk-tb-list -->
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
</div>
{% endblock %}