{% extends 'base.html' %}
{% load mathfilters %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="/static/dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="/static/dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/dist-assets/css/plugins/datatables.min.css" />
{% endblock stylesheets %}

{% block content %}

<div class="main-content">
    <div class="row mb-4">
        <div class="col-md-6">
            <h4>User Roles</h4>
            <p>Count: {{roles.count}}</p>
        </div>
        <div class="col-md-6">
            <!-- <button class="btn btn-info m-1 float-right" type="button">Export (XLS)</button> -->
            
        </div>
    </div>
    <!-- end of row-->
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                        <thead class="text-warning">
                            <tr>
                                <th>S/N:</th>
                                <th>Group Name</th>
                                <th># of users</th>
                                <th>Users</th>
                                <th># of Permissions</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in roles %}
                            <tr class='clickable-row' data-href="{% url 'user_profile' user.id %}">
                                <td>{{ forloop.counter}}</td>
                                <td>{{group.name}} </td>
                                <td>{{group.user_set.all.count}}</td>
                                <td class="w60">
                                    {% for user in group.user_set.all %}
                                    <span>{{user.get_full_name|title}}</span><br>
                                    {% endfor %}
                                </td>
                                <td>{{group.permissions.count}}</td>
                                <td>Active</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-3 mb-4">
        <div class="card text-left">
            <div class="card-body">
                <h4>Filters</h4>
            </div>
        </div>
    </div> -->
</div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/dist-assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/static/dist-assets/js/scripts/script.min.js"></script>
<script src="/static/dist-assets/js/scripts/sidebar-horizontal.script.js"></script>
<script src="/static/dist-assets/js/plugins/datatables.min.js"></script>
<script src="/static/dist-assets/js/scripts/datatables.script.min.js"></script>

{% endblock javascripts %}